
/* ========== Wiki Page Styles ========== */

/* the default panel styles are okay, but override here to be more explicit with width/etc */
#wiki-view-left { float: left; width: 260px; }
#wiki-view-center { float: left; width: 680px; }

#wiki-breadcrumbs a.button { border: 0; color: #00008b; padding: 1px; margin: 1px; }
#wiki-breadcrumbs a.button:hover { text-decoration: underline; }

#wiki-page-list div a.button { border: 0; color: #000000; padding: 1px; margin: 1px; }
#wiki-page-list div a.button:hover { text-decoration: underline; }

#wiki-attachments-label, #wiki-page-projects-label, #wiki-page-tasks-label, #wiki-page-requests-label {
    font-size: 1.1em; font-weight: bold; }
#wiki-page-attachments, #wiki-page-projects-label, #wiki-page-tasks-label, #wiki-page-requests-label {
    border-top: #cccccc solid 1px; margin-top: 12px; padding-top: 4px; display: block; }
#wiki-attachments-label { float: left; }
#wiki-attachments-links { float: right; }

#wiki-page-name { float: left; }
#wiki-page-links { float: right; }
#wiki-page-area { border-top: #cccccc solid 1px; border-bottom: #cccccc solid 1px;
    margin: 4px 2px 8px 2px; padding: 8px 2px 8px 2px; }

#wiki-page-area h1 { margin: 16px 0 16px 0; border-bottom: #cccccc solid 1px; }
#wiki-page-area h2 { margin: 8px 0 8px 0; border-bottom: #cccccc solid 1px; }
#wiki-page-area h3 { margin: 4px 0 4px 0; text-decoration: underline; }

#wiki-view-left { border-right: #cccccc solid 1px; padding-right: 4px; margin-right: 4px; }

/* ========== Task Summary Styles ========== */
#task-summary-panel {  }
#task-summary-panel-left { /*width: 240px;*/ }
#task-summary-panel-center { /*width: 440px;*/ padding-left: 8px; padding-right: 8px; background: #dddddd; }
/* border-left: black 1px solid; border-right: black 1px solid; */
#task-summary-panel-right { /*width: 240px;*/ }
#task-time-label, #task-requests-label, #task-wiki-pages-label {
    margin-top: 16px; padding-top: 4px; display: block; font-weight: bold; border-top: black solid 1px; }
.task-user-block, .task-request-block { border-top: #cccccc solid 1px; }
